h1, h2, h3 {
  font-family: calibri;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Baskerville Old Face', 'Times New Roman';
  padding-left: 20px;
}

td {
  font-family: 'Baskerville Old Face', 'Times New Roman';
}

body {
  background-color: #FFFFFF;
  margin-left: 20px;
}

.normal-text {
  font-weight: normal;
}

.mySlides {
  display: none;
}

table {
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
