h1, h2, h3 {
  font-family: 'Calibri';
}

img {
  width: 800px;
  max-width: 100%;
  height: auto;
  padding-bottom: 25px;
}

p {
  font-family: 'Baskerville Old Face', 'Times New Roman';
  max-width: 80ch;
}

#totalWordCount {
  font-family: 'Baskerville Old Face', 'Times New Roman';
}

li {
  max-width: 80ch;
  font-size: 15px;
}

td {
  font-family: 'Baskerville Old Face', 'Times New Roman';
}

body {
  background-color: #FFFFFF;
  margin-left: 20px;
}

.normal-text {
  font-weight: normal;
}

.mySlides {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}

th {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.figure-container {
  width: 40%;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  padding-bottom: 10px;
}

.figure {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.figure-citation {
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
  display: block;
}

.in-text-citation {
  color: black;
}

button {
  margin: 10px auto;
  padding: 4px 4px;
}

video {
  width: 800;
  height: 450;
}

/*Link target highlight animation to indicate where the link has led to*/
li:target {
  animation: highlight 2.5s;
}

@keyframes highlight {
  0% {background: #3e3d3d;}
  100% {background: transparent;}
}